#macro( ccase $str )
#foreach( $word in $str.split('-') )$word.substring(0, 1).toUpperCase()$word.substring(1).toLowerCase()#end
#end

#macro( sccase $str )
#foreach( $word in $str.split('-') )$word.substring(0, 1).toUpperCase()$word.substring(1).toLowerCase() #end
#end

#macro( package_path $str )
#foreach( $word in $str.split('-') )$word.#end
#end

#macro( interface $str )
#if( $str == 'source')Source#elseif($str == 'processor')Processor#elseif($str == 'sink')Sink#end
#end

#set( $sccAppName = "#sccase( $rootArtifactId )")
#set( $ccAppName = "#ccase( $rootArtifactId )" )
#set( $ccAppType = "#ccase( $appType )" )
#set( $packagePath = "#package_path( $rootArtifactId )$appType")
#set( $appInterface = "#interface( $appType )")